.autentikasi-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(163, 200, 205, 0.55);
    position: relative;
}

/* FORM START */

.form-autentikasi-container {
    width: 40%;
    height: 80%;
    margin-left: 5%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    border-radius: 16px;
}

.form-autentikasi-container h1 {
    margin-top: 10%;
}

.form-autentikasi-container p {
    font-size: 14px;
    text-align: center;
}

.form-autentikasi .password-wrapper {
    position: relative;
    display: flex;
}

.form-autentikasi .password-wrapper i {
    position: absolute;
    align-self: center;
    right: 2%;
}

.headline-container {
    background: #062C30;
    width: 50%;
    height: 95%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.form-autentikasi {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin-top: 10%;
}

.form-autentikasi label {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-autentikasi input {
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    width: 100%;
}

.footer-autentikasi input:focus {
    box-shadow: 0 2px 2px #A3C8CD;

}

.form-autentikasi .footer-autentikasi {
    align-self: flex-start;
    margin-top: 15px;
}

.form-autentikasi p,
a {
    font-size: 12px;
}

.form-autentikasi .footer-autentikasi a {
    text-decoration: underline
}

/* FORM END */


/* HEADLINE START */

.headline-container h1 {
    font-size: 60px;
}

.headline-container h2,
h5 {
    color: white;

}

.headline-container h2 {
    font-size: 30px;
    width: 70%;
    text-align: center;
}

.btn-login.autentikasi {
    align-self: center;
    width: 40%;
    margin-top: 15%;
    background: rgba(6, 44, 48);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn-login.autentikasi:hover {
    background: #46B5D1;
}

/* HEADLINE END */