@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Playfair+Display:ital,wght@1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

/* RESET SEMUA MARGIN DAN PADDING BAWAAN, TAMBAHKAN FONTS YANG AKAN DIGUNAKAN */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* SET TO BORDER BOX TO AVOID A STRECT WHEN SETTING A PADDING OF AN ITEM
            https://www.w3schools.com/css/css3_box-sizing.asp#:~:text=The%20box%2Dsizing%20property%20allows,Hooray! */
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* scrollbar-gutter: stable both-edges; */
}

.container-for-all-content {
    width: 100%;
    height: 100vh;
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
}

li {
    list-style: none
}

a {
    color: black;
}

img {
    pointer-events: none;
}