/* PEMBUNGKUS START */
.sidebar-container {
    width: 16%;
    transition: all 0.5s;
}

.sidebar-container.lebih-kecil {
    width: 6%;
    transition: all 0.5s;
}

/* PEMBUNGKUS END */
.sidebar {
    position: fixed;
    height: 100vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    background: #062C30;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s ease;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}


.header {
    padding: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

.header .list-bar {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 80%;
}

/* BAGIAN MAIN SIDEBAR */
.sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    cursor: default;
    position: relative;
    gap: 1rem;
    /* overflow-inline: hidden; */
}

.sidebar-content a {
    transition: all 0.5s;
}

.menu {
    /* height: 70px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 90%;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    position: relative;
    overflow: visible;
}


.menu i {
    font-size: 18px;
    color: white;
}

.menu p {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    color: white;
    opacity: 1;
}


.dropdown {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: flex-start;
    left: 0%;
    width: 80%;
    margin-bottom: 15px;
    display: none;
    border-radius: 10px;
    /* transition: all 0.2s ease-in; */
}

.dropdown .bagian-komponen-sakip {
    /* width: 100%; */
    height: 145px;
}

.dropdown .bagian-pengaturan {
    /* width: 100%; */
    height: 110px;
}

.bagian-komponen-sakip .komponen,
.bagian-pengaturan .pengaturan {
    /* margin: 0px 0px 5px 0px; */
    font-size: 14px;
    text-align: start;
    height: 35px;
    line-height: 35px;
    transition: all 0.5s ease;
    font-weight: 500;
    border: 1px solid black;
    background: #E1E8E6;
    margin: 5px;
}

.bagian-komponen-sakip li:hover,
.bagian-komponen-sakip .komponen.active,
.bagian-pengaturan li:hover,
.bagian-pengaturan .pengaturan.active {
    background: #A3C8CD;
    /* border-radius: 10px; */
    margin-left: 10px;
    transition: all 0.5s ease;
    font-weight: 500;
}

.menu:visited {
    background: #A3C8CD;
    /* border-radius: 10px; */
    transition: all 0.5s ease;
    font-weight: 500;
}

.komponen.nonactive,
.nonactive {
    /* border-radius: 0px 0px 10px 10px; */
    color: black;
    transition: all 0.5s ease;
    padding-left: 10px;
    border-radius: 10px;
}

.fa-chevron-down,
.fa-chevron-up {
    margin-left: 8px;
}


.menu .tooltip,
.profile .tooltip {
    position: absolute;
    width: 150px;
    height: 35px;
    background: #A3C8CD;
    color: black;
    line-height: 35px;
    border-radius: 10px;
    left: 70px;
    text-align: center;
    transition: 0s;
    top: 0%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}


.profile .tooltip.for-profile {
    left: 100px;
}

.menu:hover {
    background: #A3C8CD;
    border-radius: 15px;
    margin-left: 20px;
}

.menu.active {
    background: #A3C8CD;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.menu:active {
    background: #A3C8CD;
    border-radius: 12px;
}

.menu:focus {
    background: #A3C8CD;
    border-radius: 12px;
}

.menu.active p {
    color: black;
}

.dropdown-pengaturan {
    display: none;
    /* pointer-events: none; */
    height: 110px;
}

/* BAGIAN PROFIL */
.profile {
    width: 100%;
    /* flex: 0.25; */
    height: 12%;
    justify-self: end;
    background: #547A7E;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-right-radius: 20px;
    cursor: default;
    position: relative;
    /* bottom: 0%; */
    /* position: fixed; */
}

.profile img {
    border-radius: 10px;
}

.profile .data-profile {
    margin: 10px;
}

.profile .data-profile p {
    color: white;
    font-size: 12px;
}

.profile .data-profile h4 {
    color: white;
    font-size: 14px;
}

.profile .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 15%;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.profile .logout:hover {
    /* background: grey; */
    background: #A3C8CD;
    transform: scale(0.9);
    transition: all 0.5s ease;
}

.profile .logout i {
    color: white;
    font-size: 14px;
}

.profile .logout:hover i {
    color: black;
}

/* KETIKA */
.sidebar.close {
    width: 90px;
    transition: all 0.5s ease;
}

.sidebar.close .header {
    width: 100%;
}

.sidebar.close .sidebar-content {
    width: 100%;
}

.sidebar.close .sidebar-content .menu {
    width: 50%;
    display: flex;
    justify-content: center;
}

.sidebar.close .logo-esakip {
    display: none;
    transition: all 0.5s ease;
}

.sidebar.close .header .list-bar {
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

/* ACTION */
.header .fa-bars:hover {
    transition: 0.5s;
    transform: rotateY(180deg);
}

.menu.active i,
.menu:hover i,
.menu:hover p {
    color: black;
}

.sidebar.close .menu p,
.sidebar.close .menu .fa-chevron-down,
.sidebar.close .menu .fa-chevron-up {
    display: none;
    /* opacity: 0; */
}

.sidebar.close .menu:hover .tooltip,
.sidebar.close .menu:hover .tooltip,
.sidebar.close .profile:hover .tooltip {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
    /* z-index: 999 */
    /* pointer-events: none; */
}


/* .sidebar.close .menu.komponen-sakip .bagian-komponen-sakip {
    position: absolute;
    margin-left: 200px;
    transform: translateX(-50%);
} */

.sidebar.close .profile img,
.sidebar.close .profile div {
    display: none;
}

.sidebar.close .profile a {
    left: 0px;
    width: 50%;
}

/* SCROLL SECTION */

::-webkit-scrollbar {
    display: none;
    left: 0%;
    /* background: black;
    width: 10px; */
}

::-webkit-scrollbar-thumb {
    /* background: grey;
    border-radius: 10px;
    left: 0%; */
}

/* DROPDOWN SECTION KETIKA SIDEBAR CLOSE*/
.sidebar.close .dropdown.side-close {
    position: absolute;
    left: 100%;
    width: 200px;
    opacity: 1;
    background: #062C30;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sidebar.close .dropdown.side-close.bagian-komponen-sakip {
    top: 8%;
}

.sidebar.close .dropdown.side-close.bagian-pengaturan {
    top: 24%;
}

.sidebar.close .dropdown.side-close li {
    border: 0px;
}

.sidebar.close .menu:hover .dropdown.side-close {
    /* opacity: 1; */
}