 /* BAGIAN TABLE DASHBOARD START */
 .table-dashboard-user {
    width: 95%;
    /* SUPAYA NYDA ADA JARAK ANTAR CELL, PAKE INI */
    border-collapse: separate;
    border-spacing: 0 10px;
}

/* .table-dashboard-user th:nth-child(2) {
    width: 20%;
} */

.table-dashboard-user th {
    width: 20%;
}

.table-dashboard-user tbody tr {
    margin: 10px;
}

.table-dashboard-user tbody tr:nth-child(even) {
    background: white;
}

.table-dashboard-user tbody tr:nth-child(odd) {
    background: #E1E8E6;
}

/* .table-dashboard tbody tr:last-of-type {
    border-bottom: 3px solid grey;
} */

.table-dashboard-user tbody td {
    text-align: center;
    height: 50px;
   
}

.table-dashboard-user tbody td:nth-child(2) {
    text-align: center;
}

/* hover dkk */
.table-dashboard-user tbody tr:hover td {
    background: grey;
    color: white;
}

.table-dashboard-user tbody tr td {
    font-weight: 500;
    font-size: 15px;
}


.table-dashboard-user tbody tr td:first-child {
    border-radius: 10px 0 0 10px;
}


.table-dashboard-user tbody tr td:last-child {
    border-radius: 0px 10px 10px 0px;
    
}

/* .table-dashboard tbody tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.table-dashboard tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.table-dashboard tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
} */

/* BAGIAN TABLE DASHBOARD END */

/* BAGIAN TABLE ... START */

/* BAGIAN TABLE ... END */